<div *ngIf="disabled">Pin selector is available only in edit mode</div>

<div *ngIf="!disabled">
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

    <div>
        <button mat-flat-button [color]="'primary'" (click)="handleSelectAsset()">Select asset</button>
    </div>

    <div libFlexRow class="push-top">
        <div libFlexColumn libFlexFill>
            <mat-form-field appearance="outline">
                <mat-label>Asset Id</mat-label>
                <input [formControl]="assetTextControl" matInput type="text" />
                <button
                    *ngIf="assetTextControl.value"
                    matSuffix
                    mat-icon-button
                    aria-label="Clear"
                    (click)="clearAsset()"
                >
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div>
    </div>

    <div libFlexRow>
        <div libFlexColumn>
            <mat-form-field appearance="outline">
                <mat-label>Top</mat-label>
                <input [formControl]="topControl" matInput type="text" />
                <mat-icon matSuffix>percent</mat-icon>
            </mat-form-field>
        </div>
        <div libFlexColumn>
            <mat-form-field appearance="outline">
                <mat-label>Left</mat-label>
                <input [formControl]="leftControl" matInput type="text" />
                <mat-icon matSuffix>percent</mat-icon>
            </mat-form-field>
        </div>
    </div>

    <div class="push-top">
        <div *ngIf="assetUrl">
            <div class="w-pin-image">
                <img [src]="assetUrl" />
                <div class="box" [style.top]="pin.top + '%'" [style.left]="pin.left + '%'" *ngFor="let pin of pins">
                    <div class="pin-text" *ngIf="showPinText">
                        <h3>Pin</h3>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!assetUrl">
            <em>Asset is not selected</em>
        </div>
    </div>
</div>

<div *ngIf="infoMessage" class="info-box push-bottom push-top">
    {{ infoMessage }}
</div>

<div *ngIf="errorMessage" class="error-box push-bottom push-top">
    {{ errorMessage }}
</div>
