<div *ngIf="disabled">Pin selector is available only in edit mode</div>

<div *ngIf="!disabled">
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

    <div>
        <button mat-flat-button [color]="'primary'" (click)="handleSelectAsset()">Select asset</button>
    </div>

    <div libFlexRow class="push-top">
        <div libFlexColumn libFlexFill>
            <mat-form-field appearance="outline">
                <mat-label>Asset Id</mat-label>
                <input [formControl]="assetTextControl" matInput type="text" />
                <button
                    *ngIf="assetTextControl.value"
                    matSuffix
                    mat-icon-button
                    aria-label="Clear"
                    (click)="clearAsset()"
                >
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div>
    </div>

    <div libFlexRow>
        <div libFlexColumn>
            <mat-form-field appearance="outline">
                <mat-label>Top</mat-label>
                <input [formControl]="topControl" matInput type="text" />
                <mat-icon matSuffix>percent</mat-icon>
            </mat-form-field>
        </div>
        <div libFlexColumn>
            <mat-form-field appearance="outline">
                <mat-label>Left</mat-label>
                <input [formControl]="leftControl" matInput type="text" />
                <mat-icon matSuffix>percent</mat-icon>
            </mat-form-field>
        </div>
    </div>

    <div class="push-top">
        <div *ngIf="assetUrl">
            <div class="w-pin-image">
                <img [src]="assetUrl" />
                <div class="box" [style.top]="pin.top + '%'" [style.left]="pin.left + '%'" *ngFor="let pin of pins">
                    <div class="pin-icon">
                        <svg
                            version="1.1"
                            id="Capa_1"
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            x="0px"
                            y="0px"
                            viewBox="0 0 492.452 492.452"
                            style="enable-background: new 0 0 492.452 492.452"
                            xml:space="preserve"
                        >
                            <path
                                id="XMLID_152_"
                                d="M246.181,0C127.095,0,59.533,102.676,84.72,211.82c17.938,77.722,126.259,280.631,161.462,280.631
                            c32.892,0,143.243-202.975,161.463-280.631C432.996,103.74,365.965,0,246.181,0z M246.232,224.97
                            c-34.38,0-62.244-27.863-62.244-62.244c0-34.381,27.864-62.244,62.244-62.244c34.38,0,62.244,27.863,62.244,62.244
                            C308.476,197.107,280.612,224.97,246.232,224.97z"
                            />
                        </svg>
                    </div>

                    <div class="pin-text">
                        <div *ngIf="showPinText">Pin</div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!assetUrl">
            <em>Asset is not selected</em>
        </div>
    </div>
</div>

<div *ngIf="infoMessage" class="info-box push-bottom push-top">
    {{ infoMessage }}
</div>

<div *ngIf="errorMessage" class="error-box push-bottom push-top">
    {{ errorMessage }}
</div>
